---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak
  namespace: permedcoe
type: Opaque
stringData:
  keycloak-admin-pw: ${KEYCLOAK_ADMIN_PASSWORD}
  keycloak-realm: ${KEYCLOAK_REALM}
  keycloak-host: ${KEYCLOAK_HOST}
  keycloak-port: "80"
  client-id: ${KEYCLOAK_CLIENT_ID}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}
  auth-url: https://${KEYCLOAK_HOST}/auth/realms/${KEYCLOAK_REALM}/protocol/openid-connect/auth
  auth-url-k8s: http://keycloak/auth/realms/${KEYCLOAK_REALM}/protocol/openid-connect/auth
  token-url: https://${KEYCLOAK_HOST}/auth/realms/${KEYCLOAK_REALM}/protocol/openid-connect/token
  token-url-k8s: http://keycloak/auth/realms/${KEYCLOAK_REALM}/protocol/openid-connect/token
  api-url: https://${KEYCLOAK_HOST}/auth/realms/${KEYCLOAK_REALM}/protocol/openid-connect/userinfo
  api-url-k8s: http://keycloak/auth/realms/${KEYCLOAK_REALM}/protocol/openid-connect/userinfo
  introspect-url: https://${KEYCLOAK_HOST}/auth/realms/${KEYCLOAK_REALM}/protocol/openid-connect/token/introspect
  introspect-url-k8s: http://keycloak/auth/realms/${KEYCLOAK_REALM}/protocol/openid-connect/token/introspect
