---
apiVersion: v1
kind: Secret
metadata:
  name: marketplace
  namespace: permedcoe
type: Opaque
stringData:
  marketplace-url: ${MARKETPLACE_URL}
  consumer-key: ${MARKETPLACE_CONSUMER_KEY}
  consumer-secret: ${MARKETPLACE_CONSUMER_SECRET}
