---
apiVersion: v1
kind: Secret
metadata:
  name: vault
  namespace: croupier-services
type: Opaque
stringData:
  root-token: $VAULT_ROOT_TOKEN
  vault-host: $VAULT_HOST
  vault-port: "8200"
  secret-engines: "ssh keycloak" 