---
apiVersion: v1
kind: Secret
metadata:
  name: vault
  namespace: permedcoe-services
type: Opaque
stringData:
  root-token: $VAULT_ROOT_TOKEN
  vault-host: $VAULT_HOST
  vault-port: "80"
  secret-engines: ssh
